.footer .container {
    background-color: #2C343E;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 47px 85px;
}

.footer__media-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.footer__media-item:nth-child(2n) {
    margin: 0 24px ;
}

.footer__inner-link {
    color: #83888F;
}

.footer__inner-link:hover {
    color: #FEFCF7;
}